.th-input-credentials {
	display: inline-block;
	width: initial;
}

.th-lables {
	width: 30%;
}

.th-login-admin {
	display: block;
	margin-top: 20px;
}


/*.test {
	color: red;
}*/

.th-button {
	margin-left: 30%;
	margin-right: 20px;
}